<%= form_for @user do |t| %>
  <div class="field">
    <%= t.label :name %><br>
    <%= t.text_field :name %>
  </div>
  <div class="field">
    <%= t.label :password %><br>
    <%= t.text_field :password %>
  </div>
  <div class="field">
    <%= t.label :height, "Height (in inches)" %><br>
    <%= t.text_field :height %>
  </div>
  <div class="field">
    <%= t.label :happiness, "How happy are you? (1-5 scale)" %><br>
    <%= t.text_field :happiness %>
  </div>
  <div class="field">
    <%= t.label :nausea, "How nauseous are you? (1-5 scale)" %><br>
    <%= t.text_field :nausea %>
  </div>
  <div class="field">
    <%= t.label :tickets, "How many dollars are in your pocket?" %><br>
    <%= t.text_field :tickets %>
  </div>
  <div class="field">
    <%= t.label :admin, "Check box if you are a theme park owner" %>
    <%= t.check_box :admin %>
</div>

  <%= t.submit "Create User" %>


<% end %>
