<% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>

<% if @user.admin %>
  <p>ADMIN</p>
<% end %>


<strong>Name:</strong><%= @user.name %><br>
<strong>Tickets: </strong><%= @user.tickets %><br>
<strong>Mood:</strong><%= @user.mood %><br>
<strong>Height:</strong><%= @user.height %>

<%= link_to "See attractions", attractions_path %>
